{% extends "base.html.twig" %}

{% block titre %}
	{{ livre.nom }}
{% endblock %}

{% block contenu %}
<div class="container container-sm">
	<div class="row m-2">
		<div class="col-lg-6 col-xs-12 mb-3">
			<h2>Informations:
			</h2>
			<div>Auteur: {{ livre.auteur }}
			</div>
			<div>Nombre de pages: {{ livre.pages }}
			</div>
			<img src="https://picsum.photos/400/300">
		</div>
		<div class="col-lg-6 col-xs-12">
			<h2>Résumé:
			</h2>
			<div>
				{{ livre.description }}
			</div>
		</div>
	</div>
</div>
{% endblock %}
